<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="DHH Soundboard">
    <meta name="author" content="Terence Lee">
    <link rel="icon" href="/favicon.ico">

    <title>DHH Soundboard</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">

    <script src="/javascript/jquery-2.1.1.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document">

    <div class="container theme-showcase" role="main">

      <div class="page-header">
        <img class='dhh' src='images/dhh.jpeg' />
        <img class='whoops' src='images/whoops.png' />
        <h1>DHH Soundboard</h1>
      </div>

      <audio id="dhh-sprite">
        <source src="/audio/dhh_sprite.ogg" type="audio/ogg" />
        <source src="/audio/dhh_sprite.m4a" type="audio/mpeg" />
      </audio>

      <ul class="list-unstyled">
        <li><button id="whoops-btn" type="button" class="btn-lg btn btn-default btn-block">Whoops!</button></li>
        <li><button id="it-worked-btn" type="button" class="btn-lg btn btn btn-default btn-block">It Worked!</button></li>
        <li><button id="not-doing-btn" type="button" class="btn-lg btn btn-default btn-block">Not Doing</button></li>
        <li><button id="not-a-lot-of-work-btn" type="button" class="btn-lg btn btn-default btn-block">Not a Lot of Work</button></li>
        <li><button id="ruby-everywhere-btn" type="button" class="btn-lg btn btn-default btn-block">Ruby Everywhere</button></li>
      </ul>

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/javascript/bootstrap.min.js"></script>
    <script src="/javascript/application.js"></script>
  </body>
</html>

