body {
    background-color: gray;
}

.dhh {

    float: right;
    height: 50px;
}

.whoops {
  display: absolute;
  float: right;
  height: 50px;
  right: 50px;
}

.btn {
    width: 100%;
    margin: 20px auto;
}
